<section class="jumbotron text-center">
  <div class="container">
    <h1>My portfolio</h1>
    <p class="lead text-muted">Welcome to my portfolio. This is where you can see all the apps that I made.</p>
    <p>
      <%= link_to 'Find out more about me', about_me_path, class: "btn btn-primary my-2" %>
      <%= link_to 'My Blogs', blogs_path, class: "btn btn-secondary my-2" %>
    </p>
  </div>
</section>