<h1>About me</h1>

<div class="row">
  <div class="col-md-4">
<!--    <img src="https://expresstabloid.ba/wp-content/uploads/2021/04/lepa-brena-pohlepa-1-e1618755065452.jpg" width="300" alt="Profile Image">-->
    <%= image_tag "leaves.jpg",  width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>I am a new web developer in the process of learning Ruby on Rails.</p>
  </div>
</div>
