<h1>Contact</h1>

<p><%= number_to_phone '5555555555' %></p>

<p><%= number_to_currency '150' %></p>

<p><%= number_to_percentage '25.4' %></p>

<p><%= number_with_delimiter '2568878778778787' %></p>

